.app-header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.nav-header{
    margin-left: 10%;
}
.navbar-header .nav-logo{
    padding:0;
}
.nav-user-ul{
    /*display: none;*/
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    color: #777;
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-user-ul li{
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.nav-user-ul li:hover{
    color: #333;
}
.app-container{
    padding-top: 70px;
    min-height: 710px;
}
.app-footer{
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}
.logo{
    background-image: url("../images/logo48-48.png");
    display: inline-block;
    width: 48px;
    height: 48px;
}
.alert-global-tip{
    position: absolute;
    left: 50%;
    z-index: 300;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* home start */
.text-default{
    color: #777;
}
.text-default:hover{
    color: #333;
}
.login-register-box{
    position: absolute;
    right: 10%;
    top: 0;
}
.login-register-box > span{
    display: inline-flex;
}
.login-register-box > span > span{
    padding: 15px 0;
}
.login-register-box .border{
    display: inline-block;
    border-right:1px solid #777;
    margin: 10px;
}
/* home end */

/* login-box start */
.login-box{
    width: 400px;
}
.register-now {
    margin-top: 7px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.validate-code{
    width: 40%;
    margin-left: 10%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.validate-code, .validate-code span{
    display: inline-block;
    height:34px;
    line-height:34px;
}
/* login-box end */

.register-box{
    width: 600px;
}

/* example popupwin */
.popupwin-ul>li{
    margin-bottom:10px;
    border-bottom:1px solid #337ab7;
    padding-bottom: 10px;
}

/* scroll */
.scroll-left-side{
    width: 15%;
    position: fixed;

}
.tip-division{
    margin-top: 10px;
    padding-top: 10px;
    height: 40px;
    background-color: #ddd;
}
.tip-division .bg-danger{
    background-color: #e93030;
}
.tip-division .bg-info{
    background-color: #9ed09e;
}
.tip-division .bg-success{
    background-color: #ff9601;
}
.tip-division .bg-primary{
    background-color: #337ab7;
}
.tip-division .bg-muted{
    background-color: #9d3cb3;
}
.tip-division .tip{
    padding:5px 10px;
    margin-right: 20px;
}

/* echarts */

.chart-wrap{
    height: 400px;
    border: 1px solid #ddd;
    margin-bottom: 50px;
}