.app-header {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-header {
    margin-left: 10%;
}

.navbar-header .nav-logo {
    padding: 0;
}

.nav-user-ul {
    /*display: none;*/
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    color: #777;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-user-ul li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.nav-user-ul li:hover {
    color: #333;
}

.app-container {
    padding-top: 70px;
    min-height: 710px;
}

.app-footer {
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.logo {
    background-image: url("../images/logo48-48.png");
    display: inline-block;
    width: 48px;
    height: 48px;
}

.alert-global-tip {
    position: absolute;
    left: 50%;
    z-index: 300;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* home start */
.text-default {
    color: #777;
}

.text-default:hover {
    color: #333;
}

.login-register-box {
    position: absolute;
    right: 10%;
    top: 0;
}

.login-register-box > span {
    display: inline-flex;
}

.login-register-box > span > span {
    padding: 15px 0;
}

.login-register-box .border {
    display: inline-block;
    border-right: 1px solid #777;
    margin: 10px;
}

/* home end */

/* login-box start */
.login-box {
    width: 400px;
}

.register-now {
    margin-top: 7px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.validate-code {
    width: 40%;
    margin-left: 10%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.validate-code, .validate-code span {
    display: inline-block;
    height: 34px;
    line-height: 34px;
}

/* login-box end */

.register-box {
    width: 600px;
}

/* example popupwin */
.popupwin-ul > li {
    margin-bottom: 10px;
    border-bottom: 1px solid #337ab7;
    padding-bottom: 10px;
}

/* scroll */
.scroll-left-side {
    width: 15%;
    position: fixed;

}

.tip-division {
    margin-top: 10px;
    padding-top: 10px;
    height: 40px;
    background-color: #ddd;
}

.tip-division .bg-danger {
    background-color: #e93030;
}

.tip-division .bg-info {
    background-color: #9ed09e;
}

.tip-division .bg-success {
    background-color: #ff9601;
}

.tip-division .bg-primary {
    background-color: #337ab7;
}

.tip-division .bg-muted {
    background-color: #9d3cb3;
}

.tip-division .tip {
    padding: 5px 10px;
    margin-right: 20px;
}

/* echarts */

.chart-wrap {
    height: 400px;
    border: 1px solid #ddd;
    margin-bottom: 50px;
}

/* 打开管理系统之后启用的样式 */
.admin-wrap {
    padding-top: 0;
}

.hide-nav {
    -webkit-animation-name: opacity;
    -moz-animation-name: opacity;
    -o-animation-name: opacity;
    animation-name: opacity;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes opacity {
    10% {
        opacity: 0.9;
        height: 45px;
    }
    20% {
        opacity: 0.8;
        height: 40px;
    }
    30% {
        opacity: 0.7;
        height: 35px;
    }
    40% {
        opacity: 0.6;
        height: 30px;
    }
    50% {
        opacity: 0.5;
        height: 25px;
    }
    60% {
        opacity: 0.4;
        height: 20px;
    }
    70% {
        opacity: 0.3;
        height: 15px;
    }
    80% {
        opacity: 0.2;
        height: 10px;
    }
    90% {
        opacity: 0.1;
        height: 5px;
    }
    100% {
        height: 0;
        opacity: 0;
        top: -100px;
    }
}

.admin-user-form label.col-sm-1 {
    padding-right: 0;
    padding-left: 0;
    text-align: right;
    height: 26px;
    line-height: 26px;
}

.admin-menu{
    width: 250px;
    position: fixed;
    min-height: 600px;
}
.admin-menu li:not(.active) a{
    cursor: pointer;
}
.menu-level-2{
    padding-left: 20px;
}
.admin-menu .glyphicon{
    margin-right: 10px;
}
.open>.menu-level-2{
    display: block;
}

.admin-container{
    margin-left: 260px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 600px;
    border-left: 2px solid #ddd;
}
.little-strip{
    display: inline-block;
    height: 30px;
    width: 5px;
    background-color: #32BF32;
    margin-right: 7px;
    float: left;
}
span.current-place{
    display: inline-block;
    height: 30px;
    line-height:30px;
    font-weight: bold;
    font-size: 14px;

}
.admin-query .panel-heading{
    padding: 5px 15px;
}
.admin-query form [class^=col-]{
    padding-right: 0;
}.admin-query form label{
    text-align: right;
}

.bootstrap-table .glyphicon {
    color: #333;
    cursor: pointer;
}
.bootstrap-table .glyphicon:hover {
    color: #4A49F2;
}
.bootstrap-table .glyphicon + .glyphicon {
    margin-left: 10px;
}

.bt-col-editable .glyphicon{
    font-size: 9px;
    margin-left: 10px;
    visibility: hidden;
 }
td.show .bt-col-editable .glyphicon{
    visibility: visible;
}

.edit-panel{
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1;
}
.edit-panel-title{
    padding: 5px 0 5px 10px;
}
.edit-panel-close{
    padding: 1px 10px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: bold;
    color: #333;
    float: right;
    font-size: 20px;
    display: block;
    margin-top: -5px;
}
.edit-panel-close:hover{
    opacity: 1;
}
.edit-panel-body{
    padding:10px;
}
.edit-panel-footer{
    text-align: right;
    padding: 5px 10px;
}
.edit-panel-footer .btn{
    padding: 4px 18px;
}