<div class="fm-banner-slider-main" slider-list ng-class="{hover: isSliderHover}" ng-mouseenter="isSliderHover=true" ng-mouseleave="isSliderHover=false">
    <ul class="fm-banner-slider-list">
        <li class="fm-banner-slider-item">
            <a href="" class="fm-banner-slider-item-link">
                <img src="../app/images/fm-slider-1.jpg" alt="" class="fm-banner-slider-item-img">
            </a>
        </li>
        <li class="fm-banner-slider-item">
            <a href="" class="fm-banner-slider-item-link">
                <img src="../app/images/fm-slider-2.jpg" alt="" class="fm-banner-slider-item-img">
            </a>
        </li>
        <li class="fm-banner-slider-item">
            <a href="" class="fm-banner-slider-item-link">
                <img src="../app/images/fm-slider-3.jpg" alt="" class="fm-banner-slider-item-img">
            </a>
        </li>
        <li class="fm-banner-slider-item">
            <a href="" class="fm-banner-slider-item-link">
                <img src="../app/images/fm-slider-4.jpg" alt="" class="fm-banner-slider-item-img">
            </a>
        </li>
        <li class="fm-banner-slider-item">
            <a href="" class="fm-banner-slider-item-link">
                <img src="../app/images/fm-slider-5.jpg" alt="" class="fm-banner-slider-item-img">
            </a>
        </li>
        <li class="fm-banner-slider-item">
            <a href="" class="fm-banner-slider-item-link">
                <img src="../app/images/fm-slider-6.jpg" alt="" class="fm-banner-slider-item-img">
            </a>
        </li>
        <li class="fm-banner-slider-item">
            <a href="" class="fm-banner-slider-item-link">
                <img src="../app/images/fm-slider-7.jpg" alt="" class="fm-banner-slider-item-img">
            </a>
        </li>
        <li class="fm-banner-slider-item">
            <a href="" class="fm-banner-slider-item-link">
                <img src="../app/images/fm-slider-8.jpg" alt="" class="fm-banner-slider-item-img">
            </a>
        </li>
    </ul>
    <span class="fm-banner-slider-btn fm-banner-slider-btn-prev common-icon"></span>
    <span class="fm-banner-slider-btn fm-banner-slider-btn-next common-icon"></span>
    <div class="fm-banner-slider-indicator">
        <span class="fm-banner-slider-indicator-item first-item active"></span>
        <span class="fm-banner-slider-indicator-item"></span>
        <span class="fm-banner-slider-indicator-item"></span>
        <span class="fm-banner-slider-indicator-item"></span>
        <span class="fm-banner-slider-indicator-item"></span>
        <span class="fm-banner-slider-indicator-item"></span>
        <span class="fm-banner-slider-indicator-item"></span>
        <span class="fm-banner-slider-indicator-item last-item"></span>
    </div>
</div>