<div class="fm-service-user">

</div>
<div class="fm-service-news">
    <div class="fm-service-tab-head">
        <a href="">公告</a>
        <a href="">促销</a>
        <a href="">更多</a>
        <div class="fm-service-tab-active"></div>
    </div>
    <div class="fm-service-tab-content">
        <div class="fm-service-tab-content-item">
            <ul class="fm-service-content-list">
                <li class="fm-service-content-list-item"></li>
                <li class="fm-service-content-list-item"></li>
                <li class="fm-service-content-list-item"></li>
                <li class="fm-service-content-list-item"></li>
                <li class="fm-service-content-list-item"></li>
            </ul>
        </div>
        <div class="fm-service-tab-content-item">
            <ul class="fm-service-content-list">
                <li class="fm-service-content-list-item"></li>
                <li class="fm-service-content-list-item"></li>
                <li class="fm-service-content-list-item"></li>
                <li class="fm-service-content-list-item"></li>
                <li class="fm-service-content-list-item"></li>
            </ul>
        </div>
    </div>
</div>
<div class="fm-service-detail">
    <div class="fm-service-tab-head-1">
        <a href="">话费</a>
        <a href="">机票</a>
        <a href="">酒店</a>
        <a href="">游戏</a>
        <div class="fm-service-tab-active"></div>
    </div>
    <div class="fm-service-tab-head-2">
        <a href="">话费充值</a>
        <a href="">流量充值</a>
        <a href="">套餐变更</a>
    </div>
    <div class="fm-service-tab-head-2">
        <a href="">话费充值</a>
        <a href="">流量充值</a>
        <a href="">套餐变更</a>
    </div>
    <div class="fm-service-tab-head-2">
        <a href="">话费充值</a>
        <a href="">流量充值</a>
        <a href="">套餐变更</a>
    </div>
    <div class="fm-service-tab-head-2">
        <a href="">话费充值</a>
        <a href="">流量充值</a>
        <a href="">套餐变更</a>
    </div>
    <div class="fm-service-content">
        
    </div>
</div>