<div class="fm-header-container cb pr container-fluid">
    <div class="row no-padding-row">
        <div class="col-xs-8 col-xs-offset-2 mt30">
            <input class="fm-header-search-input" type="text" placeholder="小度智能机器人">
            <span class="fm-header-camera"></span>
            <span class="fm-header-search-btn"></span>
        </div>
    </div>
    <div class="row no-padding-row">
        <ul class="col-xs-8 col-xs-offset-2 fm-header-hot-words ul-li-fl">
            <li><a href="" class="fm-header-hot-words-link first-item">麻辣小龙虾</a></li>
            <li><a href="" class="fm-header-hot-words-link">智能生活馆</a></li>
            <li><a href="" class="fm-header-hot-words-link">阳台菜园</a></li>
            <li><a href="" class="fm-header-hot-words-link">儿童凉鞋</a></li>
            <li><a href="" class="fm-header-hot-words-link">微波炉</a></li>
            <li><a href="" class="fm-header-hot-words-link">羽绒服女</a></li>
            <li><a href="" class="fm-header-hot-words-link">快乐六一</a></li>
            <li><a href="" class="fm-header-hot-words-link last-item">插座面板</a></li>
        </ul>
    </div>
    <div class="row no-padding-row mt20">
        <ul class="col-xs-10 col-xs-offset-1 fm-header-nav ul-li-fl">
            <li><a href="" class="fm-header-link">秒杀</a></li>
            <li><a href="" class="fm-header-link">优惠券</a></li>
            <li><a href="" class="fm-header-link">闪购</a></li>
            <li><a href="" class="fm-header-link">拍卖</a></li>
            <li><a href="" class="fm-header-link">服装城</a></li>
            <li><a href="" class="fm-header-link">京东超市</a></li>
            <li><a href="" class="fm-header-link">生鲜</a></li>
            <li><a href="" class="fm-header-link">全球购</a></li>
            <li><a href="" class="fm-header-link">京东金融</a></li>
        </ul>
    </div>

    <div class="fm-header-cart" ng-class="{hover:fmHoverCart}" ng-mouseenter="fmHoverCart=true" ng-mouseleave="fmHoverCart=false">
        <a href="">我的购物车</a>
        <span class="fm-header-cart-count">8</span>
        <div class="fm-white-spacer"></div>
        <div class="fm-header-cart-detail cart-empty" ng-show="fmHoverCart">
            <i class="cart-empty-img"></i>
            购物车中还没有商品，赶紧选购吧！
        </div>
    </div>
</div>