<div class="fm-nav-container">
    <ul class="fm-nav-wrap fm-center">
        <li class="pa">
            <ul class=" ul-li-fl">
                <li><a class="fm-nav-link fm-nav-logo"></a></li>
            </ul>
        </li>
        <li><a href="" class="fm-nav-link fm-nav-position fm-nav-parent">北京</a></li>
        <li class="fri">
            <ul class="ul-li-fl">
                <li><a class="fm-nav-link fm-nav-login-info">你好,请登录</a></li>
                <li><a class="fm-nav-link fm-nav-register">免费注册</a></li>
                <li class="spacer"></li>
                <li><a class="fm-nav-link fm-nav-order">我的订单</a></li>
                <li class="spacer"></li>
                <li class="pr" ng-class="{'hover':fmNavHover}" ng-mouseenter="fmNavHover=true" ng-mouseleave="fmNavHover=false">
                    <a class="fm-nav-link fm-nav-my-fm fm-nav-parent">我的FM</a>
                    <div class="fm-nav-white-spacer"></div>
                    <ul class="fm-nav-dropdown fm-nav-dropdown-my-fm">
                        <li><a href="" class="fm-nav-link">待处理订单</a></li>
                        <li><a href="" class="fm-nav-link">返修退换货</a></li>
                        <li><a href="" class="fm-nav-link">降价商品</a></li>
                        <li><a href="" class="fm-nav-link">消息</a></li>
                        <li><a href="" class="fm-nav-link">我的问答</a></li>
                        <li><a href="" class="fm-nav-link">我的关注</a></li>
                        <li class="divider"></li>
                        <li><a href="" class="fm-nav-link">我的F豆</a></li>
                        <li><a href="" class="fm-nav-link">我的白条</a></li>
                        <li><a href="" class="fm-nav-link">我的优惠券</a></li>
                        <li><a href="" class="fm-nav-link">我的理财</a></li>
                    </ul>
                </li>
                <li class="spacer"></li>
                <li><a class="fm-nav-link">FM会员</a></li>
                <li class="spacer"></li>
                <li><a class="fm-nav-link">企业采购</a></li>
                <li class="spacer"></li>
                <li class="pr" ng-class="{'hover':csNavHover}" ng-mouseenter="csNavHover=true" ng-mouseleave="csNavHover=false">
                    <span class="fm-nav-link fm-nav-parent">客户服务</span>
                    <div class="fm-nav-white-spacer"></div>
                    <ul class="fm-nav-dropdown fm-nav-dropdown-customer-service">
                        <li class="fm-nav-dropdown-title"><span href="" class="fm-nav-link">客户</span></li>
                        <li><a href="" class="fm-nav-link">帮助中心</a></li>
                        <li><a href="" class="fm-nav-link">售后服务</a></li>
                        <li><a href="" class="fm-nav-link">在线客服</a></li>
                        <li><a href="" class="fm-nav-link">电话客服</a></li>
                        <li><a href="" class="fm-nav-link">客服邮箱</a></li>
                        <li><a href="" class="fm-nav-link">金融咨询</a></li>
                        <li><a href="" class="fm-nav-link">全球客服</a></li>
                        <li class="divider"></li>
                        <li class="fm-nav-dropdown-title"><span href="" class="fm-nav-link">商户</span></li>
                        <li><a href="" class="fm-nav-link">合作招商</a></li>
                        <li><a href="" class="fm-nav-link">FM商学院</a></li>
                        <li><a href="" class="fm-nav-link">商家后台</a></li>
                        <li><a href="" class="fm-nav-link">FM工作台</a></li>
                        <li><a href="" class="fm-nav-link">商家帮助</a></li>
                        <li><a href="" class="fm-nav-link">规则平台</a></li>
                    </ul>
                </li>
                <li class="spacer"></li>
                <li ng-class="{'hover':wnNavHover}" ng-mouseenter="wnNavHover=true" ng-mouseleave="wnNavHover=false">
                    <span class="fm-nav-link fm-nav-parent">网站导航</span>
                    <div class="fm-nav-white-spacer"></div>
                    <ul class="fm-nav-dropdown fm-nav-dropdown-web-nav">
                        <li class="fm-nav-dropdown-web-nav-special">
                            <ul class="fm-nav-dropdown-web-nav-item">
                                <li class="fm-nav-dropdown-title">特色主题</li>
                                <li><a href="" class="fm-nav-link">品牌头条</a></li>
                                <li><a href="" class="fm-nav-link">发现好货</a></li>
                                <li><a href="" class="fm-nav-link">FM预售</a></li>
                                <li><a href="" class="fm-nav-link">FM金融</a></li>
                                <li><a href="" class="fm-nav-link">FM试用</a></li>
                                <li><a href="" class="fm-nav-link">港澳售</a></li>
                                <li><a href="" class="fm-nav-link">优惠券</a></li>
                                <li><a href="" class="fm-nav-link">闪购</a></li>
                                <li><a href="" class="fm-nav-link">FM会员</a></li>
                                <li><a href="" class="fm-nav-link">秒杀定期送</a></li>
                                <li><a href="" class="fm-nav-link">装机大师</a></li>
                                <li><a href="" class="fm-nav-link">新奇特</a></li>
                                <li><a href="" class="fm-nav-link">企业金融服务</a></li>
                                <li><a href="" class="fm-nav-link">礼品购</a></li>
                                <li><a href="" class="fm-nav-link">智能馆</a></li>
                                <li><a href="" class="fm-nav-link">0元评测</a></li>
                                <li><a href="" class="fm-nav-link">In货推荐</a></li>
                                <li><a href="" class="fm-nav-link">北京老字号</a></li>
                                <li><a href="" class="fm-nav-link">买什么</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <ul class="fm-nav-dropdown-web-nav-item">
                                <li class="fm-nav-dropdown-title">行业频道</li>
                                <li><a href="" class="fm-nav-link">服装城</a></li>
                                <li><a href="" class="fm-nav-link">家用电器</a></li>
                                <li><a href="" class="fm-nav-link">电脑办公</a></li>
                                <li><a href="" class="fm-nav-link">手机美妆馆</a></li>
                                <li><a href="" class="fm-nav-link">食品</a></li>
                                <li><a href="" class="fm-nav-link">智能数码</a></li>
                                <li><a href="" class="fm-nav-link">母婴</a></li>
                                <li><a href="" class="fm-nav-link">家装城</a></li>
                                <li><a href="" class="fm-nav-link">运动户外</a></li>
                                <li><a href="" class="fm-nav-link">整车</a></li>
                                <li><a href="" class="fm-nav-link">图书</a></li>
                                <li><a href="" class="fm-nav-link">农资频道</a></li>
                                <li><a href="" class="fm-nav-link">FM智能</a></li>
                                <li><a href="" class="fm-nav-link">玩3C</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <ul class="fm-nav-dropdown-web-nav-item">
                                <li class="fm-nav-dropdown-title">生活服务</li>
                                <li><a href="" class="fm-nav-link">FM众筹</a></li>
                                <li><a href="" class="fm-nav-link">白条</a></li>
                                <li><a href="" class="fm-nav-link">FM金融App</a></li>
                                <li><a href="" class="fm-nav-link">京东小金库</a></li>
                                <li><a href="" class="fm-nav-link">理财</a></li>
                                <li><a href="" class="fm-nav-link">话费</a></li>
                                <li><a href="" class="fm-nav-link">旅行</a></li>
                                <li><a href="" class="fm-nav-link">彩票</a></li>
                                <li><a href="" class="fm-nav-link">游戏</a></li>
                                <li><a href="" class="fm-nav-link">机票酒店</a></li>
                                <li><a href="" class="fm-nav-link">电影票</a></li>
                                <li><a href="" class="fm-nav-link">水电煤</a></li>
                                <li><a href="" class="fm-nav-link">FM到家</a></li>
                                <li><a href="" class="fm-nav-link">FM微联</a></li>
                                <li><a href="" class="fm-nav-link">FM众测</a></li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <ul class="fm-nav-dropdown-web-nav-item">
                                <li class="fm-nav-dropdown-title">更多精选</li>
                                <li><a href="" class="fm-nav-link">FM社区</a></li>
                                <li><a href="" class="fm-nav-link">FM通信</a></li>
                                <li><a href="" class="fm-nav-link">在线读书</a></li>
                                <li><a href="" class="fm-nav-link">FM卡</a></li>
                                <li><a href="" class="fm-nav-link">智能社区</a></li>
                                <li><a href="" class="fm-nav-link">游戏社区</a></li>
                                <li><a href="" class="fm-nav-link">京友邦</a></li>
                                <li><a href="" class="fm-nav-link">企业采购</a></li>
                                <li><a href="" class="fm-nav-link">服务市场</a></li>
                                <li><a href="" class="fm-nav-link">乡村招募</a></li>
                                <li><a href="" class="fm-nav-link">校园加盟</a></li>
                                <li><a href="" class="fm-nav-link">办公生活馆</a></li>
                                <li><a href="" class="fm-nav-link">知识产权维权</a></li>
                                <li><a href="" class="fm-nav-link">English Site</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="spacer"></li>
                <li><a class="fm-nav-link">手机FM</a></li>
            </ul>
        </li>
    </ul>
</div>