<div class="admin-user">
    <span current-place></span>
    <div class="panel panel-info admin-query mt20">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form class="form-horizontal lh30">
                <div class="form-group">
                    <label class="col-xs-1 w_5">
                        标题:
                    </label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control input-sm" ng-model="query.title">
                    </div>
                    <label class="col-xs-1">
                        发表时间:
                    </label>
                    <div class="col-xs-2">
                        <input type="text" class="form-control input-sm" ng-model="query.postDateStart">
                    </div>
                    <div class="col-xs-1 w_1 mr15">
                        到
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control input-sm" ng-model="query.postDateEnd">
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-primary btn-block btn-sm" ng-click="getTopics()">查询</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-success admin-query mt20">
        <div class="panel-heading">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 pl0i">
                        查询结果
                    </div>
                    <div class="col-xs-1 col-xs-offset-9"><button class="btn btn-danger btn-xs btn-block" ng-click="delTopic()">批量删除</button></div>
                    <div class="col-xs-1"><button class="btn btn-info btn-xs btn-block" ng-click="addTopic()">新增</button></div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="bt-admin-topic"></table>
        </div>
    </div>
</div>