<div class="admin-user-info w1000">
    <form name="user_info_form" novalidate class="form-horizontal admin-user-form">
        <div class="form-group">
            <label class="col-xs-1"><span class="c-red">*</span>用户名</label>
            <div class="col-xs-2">
                <input type="text" class="form-control input-xs" name="username" ng-model="userInfo.username" required>
            </div>
            <label class="col-xs-1"><span class="c-red">*</span>密码</label>
            <div class="col-xs-2">
                <input type="text" class="form-control input-xs" name="password" ng-model="userInfo.password" required>
            </div>
            <label class="col-xs-1">手机号</label>
            <div class="col-xs-2">
                <input type="number" class="form-control input-xs" name="phoneNo" ng-model="userInfo.phoneNo">
            </div>
            <label class="col-xs-1">邮箱</label>
            <div class="col-xs-2">
                <input type="email" class="form-control input-xs" name="email" ng-model="userInfo.email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-1">性别</label>
            <div class="col-xs-2">
                <label class="radio-inline">
                    <input type="radio" name="sex" ng-model="userInfo.sex" value="1">女

                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" ng-init="userInfo.sex=1" ng-model="userInfo.sex" value="2">男
                </label>
            </div>
            <label class="col-xs-1">籍贯</label>
            <div class="col-xs-2">
                <input type="text" class="form-control input-xs" name="nativePlace" ng-model="userInfo.nativePlace">
            </div>
            <label class="col-xs-1">身份证号</label>
            <div class="col-xs-3">
                <input type="text" class="form-control input-xs" name="cardId" ng-model="userInfo.cardId">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-1">现住址</label>
            <div class="col-xs-4">
                <input type="text" class="form-control input-xs" name="homeAddress" ng-model="userInfo.homeAddress">
            </div>
            <label class="col-xs-1">公司地址</label>
            <div class="col-xs-4">
                <input type="text" class="form-control input-xs" name="companyAddress" ng-model="userInfo.companyAddress">
            </div>
        </div>
    </form>
</div>