<ul class="nav nav-pills nav-stacked admin-menu">
    <li class="active" ui-sref="home.admin.index"><a><span class="glyphicon glyphicon-home"></span>首页</a></li>
    <li ui-sref="home.admin.user"><a><span class="glyphicon glyphicon-user"></span>人员管理</a></li>
    <li>
        <a class="js-dropdown-a"><span class="glyphicon glyphicon-th-large"></span>成绩管理<span class="caret"></span></a>
        <ul class="nav nav-pills nav-stacked menu-level-2 dn js-dropdown-ul">
            <li ui-sref="home.admin.viewResults"><a><span class="glyphicon glyphicon-list-alt"></span>查看成绩</a></li>
            <li><a><span class="glyphicon glyphicon-th"></span>成绩报表</a></li>
        </ul>
    </li>
    <li><a><span class="glyphicon glyphicon-calendar"></span>出勤管理</a></li>
</ul>
