<div class="jumbotron">
    <div class="container">
        <h1 class="gradient-fluid-text gradient-fluid-time-7 gradient-5">渐变色专题!</h1>
    </div>
</div>

<div class="container">
    <div class="row mb20">
        <div class="col-xs-12 h50 gradient-1"></div>
    </div>
    <div class="row mb20">
        <div class="col-xs-12 h50 gradient-2"></div>
    </div>
    <div class="row mb20">
        <div class="col-xs-12 h50 gradient-fluid-text gradient-3">体验颜色流动渐变文字</div>
    </div>
    <div class="row mb20">
        <div class="col-xs-12 h50 gradient-fluid-text gradient-4">体验颜色流动渐变文字</div>
    </div>
    <div class="row mb20">
        <div class="col-xs-12 h50 gradient-fluid-text gradient-5">体验颜色流动渐变文字</div>
    </div>
    <div class="row mb20">
        <div class="col-xs-12 h50 gradient-fluid-text gradient-6">体验颜色流动渐变文字</div>
    </div>
    <div class="row mb20">
        <div class="col-xs-12 h50 gradient-fluid-text gradient-fluid-time-7 gradient-7">体验颜色流动渐变文字</div>
    </div>
</div>