<div class="photo-clip container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <!--accept属性不能写*作为通配符，会导致webkit浏览器响应缓慢的问题-->
            <input type="file" class="dni" accept="image/jpg,image/jpeg,image/jpg,image/gif,image/png,image/bmp" id="test-photo-file">
            <button class="btn btn-info" ng-click="selectPhoto()">选择图片</button><span class="text-tip ml10">支持jpg、jpeg、gif、png、bmp格式的图片</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-1">
            <div class="photo-clip-img-box"><canvas id="photo-clip-canvas"></canvas></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-1 mt30">
            <img src="" alt="" id="photo-img-display">
        </div>
    </div>
</div>