<div class="row no-padding-row">
    <div class="col-xs-2 comments-user-box w_11">
        <a class="comments-user-head">
            <img src="app/images/noavatar_default.png" alt="默认头像">
        </a>
    </div>
    <div class="col-xs-10">
        <div class="comments-input form-control" contenteditable="true"></div>
    </div>
</div>
<div class="row mb20">
    <div class="col-xs-offset-2 col-xs-10 ml_11">
        <div class="row no-padding-row">
            <div class="col-xs-10 comments-post-toolbar">
                <a class="comments-toolbar-button comments-button-add-emote"></a>
            </div>
            <div class="col-xs-2 comments-post-button">
                发布
            </div>
        </div>
    </div>
</div>