<div class="landing-banner landing-banner-1">
    <span class="landing-text landing-text-main js-landing-text-main">科技改变世界</span>
    <span class="landing-text landing-text-sub js-landing-text-sub">技术改变生活</span>
    <span class="landing-text landing-text-name js-landing-text-name">Fuybooo-blog</span>
    <button class="btn btn-large btn-success landing-button js-landing-button">立刻体验</button>
</div>
<div class="landing-banner landing-banner-2">
</div>
<div class="landing-banner landing-banner-3">
</div>
<div class="landing-banner landing-banner-4">
</div>

