<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header nav-header mr30">
        <a href="" class="navbar-brand nav-logo"><span class="logo"></span></a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home.landing">首页</a></li>
        <li class="dropdown">
            <a href="" data-toggle="dropdown" class="dropdown-toggle">精彩实例<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ui-sref="home.useBootstrapTable">bootstrap-table的使用</a></li>
                <li><a ui-sref="home.userBootstrapModal">bootstrap弹出层的使用</a></li>
                <li><a ui-sref="home.usePopupwin">popupwin弹出层的使用</a></li>
                <li><a ui-sref="home.useEcharts">echarts的使用</a></li>
            </ul>
        </li>
        <li><a ui-sref="home.admin.index">管理系统模板</a></li>
        <li>
            <a href="" data-toggle="dropdown" class="dropdown-toggle">常用功能<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ui-sref="home.scroll">滚轮效果</a></li>
            </ul>
        </li>
        <li><a ui-sref="home.codingRule">开发规范</a></li>
        <li>
            <a href="" data-toggle="dropdown" class="dropdown-toggle">测试样例<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ui-sref="home.dataTimePicker">时间选择控件</a></li>
            </ul>
        </li>
    </ul>
    <div class="login-register-box">
        <span ng-hide="isLoggedIn"><span class="cp text-default" pop-login>登录</span><em
                class="border"></em><span class="cp text-default" pop-register>注册</span></span>
        <span ng-show="isLoggedIn"><span>欢迎您，</span><span class="cp js-nav-user" ng-click="toggleUserMenu()">{{username}}<span
                class="caret"></span><ul class="list-unstyled nav-user-ul js-nav-user-li" ng-show="isUserMenu">
                <li pop-edit-user>修改资料</li>
                <li ng-show="admin.addUser" pop-add-user>录入用户</li>
                <li pop-logout>退出登录</li>
                </ul></span></span>

    </div>
</div>